

.wrapper{
    display: flex;
    align-items: stretch;
}

#content{
    width:100%;
}

#sidebar{
    min-width: 500px;
    max-width: 500px;
    min-height: 100vh;
    background: #2e2e2e;
    color: rgb(251, 246, 255);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}